*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    width: 100vw;
    background-color: #232323;
}
.blur{
    filter: blur(4px);
}
#title{
    color:#FF9900;
    font-weight: bolder;
}
#addbtn{
    height:30px;
    width:30px;
    margin-top: 13px;
    padding-left:0px;
    padding-right:0px;
    transition: padding-left 0.3s ease, padding-right 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
}
#addbtn:hover{
    padding-left:35px;
    padding-right:35px;
}
#logo_section{
    display: flex;
}
#title{
    font-size: 28px;
    margin-top: 7px;
}
#section1{
    display:flex;
    justify-content:space-between;
    margin: 0px 40px 40px 40px;
    position: relative;
    top:20px;
}

.box{
    background-color:black;
    height:360px;
    width:248px;
    border-radius: 35px;
    border: 1px solid white;
}
.picture{
    height:139px;
    width:199px;
    margin-left: 23px;
    margin-top: 23px;
    margin-bottom: 23px;
    border: 1px solid white;
}
.text{
    color:white;
    height:52px;
    margin-right:23px;
    border:1px solid white;
    padding:5px 0px 0px 5px;
}
.blog_modal{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:550px;
    width:500px;
    background-color: black;
    gap:20px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 1px solid #FF9900;
}
.inputfield{
    height:55px;
    width:450px;
    padding:6px;
    outline: none;
}
#textfield{
    padding:5px;
    outline:none;
}
.disp{
    display: none;
}
.blogs{
    display:grid;
    margin: 60px 20px 0px 40px;
    grid-template-columns: auto auto auto auto;
    gap:30px;
}
.close{
    margin-top: 20px;
    margin-right: 27px;
    padding: 5px 7px 5px 7px;
    align-self: flex-end;
    border: none;
    border-radius: 20px;
}
#addblog{
    margin-bottom: 20px;
    padding:2px 15px 2px 15px;
    border-radius: 15px;
    border:none;
    background-color:#FF9900;
    color: white;
    font-weight: bolder;
}
#cross{
    color: #000000;
}
#innerbox{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-left: 21px;
}
#blog_title{
    font-size: 14px;
    overflow: auto;
}
#blog_desc{
    font-size: 12px;
    overflow: auto;
}
.read{
    margin-right: 23px;
    border:none;
    background-color: rgb(239, 177, 177);
    border-radius: 10px;
}
.link{
    text-decoration: none;
    color: red;
}